/* 외부스타일 시트 위치(별도의 .css 파일생성 */
/* 외부스타일 시트에서는 HTML태그를 <> 작성해선 안되며 오직 선택자와 속성, 값만 작성할 수있다. */
/* <head><body> (X) */
/* 선택자 {속성:값; 속성:값;} (O) */
/*  */
body {background-color: lightyellow;}
p {color:red; background-color: aqua;}
.info {color:blue; background-color: rgb(69, 173, 173);}
#wrep {color:blueviolet;}