/* ====================header 공통값 */
.h_bg, header * {color: #fff;}
/* ====================header */
.h_bg {background-color: #111; position: relative;} /* 배경=크기를 줄필요없음. 부모만 크기를 키우면 안된다.. */
.h_bg header {
    max-width:1400px; margin: 0 auto; height: 125px; 
    /*부모가 높이를 가져도 자식들은 auto인식한다(내용인식), 넓이는 부모를 따라감.  */
    display: flex; flex-flow: row nowrap; align-items: center; 
    position: relative; 
}
.h_bg header h1 {}
.h_bg header h1 a {}
.h_bg header h1 a img {}
.h_bg header .h_right {
    width: calc(100% - 150px);
    padding-left: 20px;
}
.h_bg header .h_right .h_top{
    float: right;
    display: flex;  flex-flow:row nowrap;
    margin-bottom: 25px;
}
.h_bg header .h_right .h_top .search {}
.h_bg header .h_right .h_top .search > a {}
.h_bg header .h_right .h_top .search .m_all_nav { display: none;}
.h_bg header .h_right .h_top .search > a img {}
.h_bg header .h_right .h_top  > a {
    margin-left: 16px; 
    font-size: 0.88rem; letter-spacing: -0.02em;
}

/* 모바일 메뉴클릭시 실행되는 서브메뉴 */
.h_bg header .m_nav {background-color:rgba(255, 255, 255, 0.7); 
    width: 100%; height: 500px; position:fixed; left: 0; top: 127px; z-index: 10; 
    height:calc(100vh-125px); text-align: center;
    display: none;
}
.h_bg header .m_nav .login_join_cs {width: 100%;border: 1px solid #000; padding: 10px;}
.h_bg header .m_nav .login_join_cs a {color: #000;}
.h_bg header .m_nav .login_join_cs a:nth-of-type(2) {margin:0 20px;}
.h_bg header > .m_nav  {color: #000;}
.h_bg header .m_nav > ul {}
.h_bg header .m_nav > ul > li {}
.h_bg header .m_nav > ul > li > a{}
.h_bg header .m_nav .m_sub1 {}
.h_bg header .m_nav .m_sub1 li {border:1px solid #000;padding: 10px 0;}
.h_bg header .m_nav .m_sub1 > li:nth-of-type(4) { 
    
}
.h_bg header .m_nav .m_sub1 li a {color: #000; }
.h_bg header .m_nav > ul > li > .m_sub2 {
    background-color: #000;
    
}
.h_bg header .m_nav > ul > li > .m_sub2 li {}
.h_bg header .m_nav > ul > li > .m_sub2 li a{color: #fff;}






/* ====================header 검색팝업(S)========================== */
.h_bg header .h_right .h_top .search .search_popup {
    display: none; /*초기 숨기기(검색 아이콘 클릭 시에만 출력 대상)*/
    background-color: #111;
    position: fixed; /*좌표필수*/ right: 0; top: 0;
    width: 350px; height: 100vh; /*사용자가보는 화면사이즈*/
    padding: 20px; 
}
.h_bg header .h_right .h_top .search .search_popup .close_btn {
    float: right;
    
}
.h_bg header .h_right .h_top .search .search_popup > * {margin-bottom: 50px;}/*팝업의 자식들 마진이 같으므로 한번에 잡음*/

.h_bg header .h_right .h_top .search .search_popup a.close_btn img {}
.h_bg header .h_right .h_top .search .search_popup #searchFrm {
    clear: both;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    padding-bottom: 6px;
}
.h_bg header .h_right .h_top .search .search_popup #searchFrm input[name*=user] {
    background: none; /*배경색 빼기*/
    width: calc(100%-25px);
}
.h_bg header .h_right .h_top .search .search_popup #searchFrm input[name*=user]::placeholder {color: #aaa;}
.h_bg header .h_right .h_top .search .search_popup #searchFrm #search_btn {}
.h_bg header .h_right .h_top .search .search_popup h2 {
    font-size: 1.13rem; letter-spacing: -0.02em; font-weight: 500;
}
.h_bg header .h_right .h_top .search .search_popup .search_list { 
    display: flex; flex-flow: column nowrap;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li {
    margin-bottom: 14px;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li .num,
.h_bg header .h_right .h_top .search .search_popup .search_list li .keywords {font-size: 0.94rem;letter-spacing: -0.02em;}
.h_bg header .h_right .h_top .search .search_popup .search_list li:last-child {margin: 0;} 
.h_bg header .h_right .h_top .search .search_popup .search_list li .num {margin-right: 20px;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .keywords {}
.h_bg header .h_right .h_top .search .search_popup .search_list li .rating {float: right;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .rating img {}
.h_bg header .h_right .h_top .search .search_popup .keywords_recommend {
    display: flex; flex-flow: row wrap;
}
.h_bg header .h_right .h_top .search .search_popup .keywords_recommend a {
    border: 1px solid #fff; padding: 10px 15px; border-radius: 20px; 
    margin: 0 7px 7px 0;
}
/* ====================header 검색팝업(E) ========================*/
.h_bg header .h_right .h_btm {
    clear: both;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
.h_bg header .h_right .h_btm .h_b_left {}
.h_bg header .h_right .h_btm .h_b_left a {font-size: 1.25rem; font-weight: 500;}
.h_bg header .h_right .h_btm .h_b_left a:nth-of-type(2) {margin: 0 56.5px;}
.h_bg header .h_right .h_btm  nav {
}
.h_bg header .h_right .h_btm  nav > a {
    margin-right: 56.5px;
    font-size: 1.25rem; font-weight: 500;
}
.h_bg header .h_right .h_btm  nav a:nth-of-type(4) {margin-right: 0;}

/* ====================header 서브(S) ==============================*/
.h_bg header .h_right .h_btm  nav .sub_bg {
    display: none;
    background-color: #111;
    position: absolute; left: 0; top: 125px; width: 100%;
    /* absolut, fixed 작성시 반드시 width 속성도 함께 써야한다 */
    } 
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents {
    max-width:1400px; margin: 0 auto; height: 240px;
    display: flex; flex-flow: row nowrap;
    padding: 40px 0 0;
}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth1 {padding-left: 20px;}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth1 .active {border-bottom: 2px solid #fff}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth1 li {margin-bottom: 20px;   width: 200px;}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth1 li a,
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 li a { 
    display: block;  padding-bottom: 3px;
}/*넓은범위로 클릭할수있도록*/
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 {width: 200px;padding-left: 20px;}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sup {}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sup li {margin-bottom: 20px;}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sup li a {}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub1 {}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub1 li {}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub1 li a {}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub2 {display: none;}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub2 li {}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub2 li a {}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub3 {display: none;}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub3 li {}
.h_bg header .h_right .h_btm  nav .sub_bg .sub_contents .depth2 .sub3 li a {}
/* ====================header 서브(E) */
/* ====================main================================================== */
main {}
/*======================= main1. 광고배너===================================== */
main .slides_wrap {
    background-color: aqua;
    position: relative;/* 버튼,스크롤바 기준설정 */
    height: 650px; /* 배너높이 고정(광고배너는 광고 요소에 따라 글자 단락이 다 다르기때문에 내용 기준으로 높이를 자동 높이 설정시 높낮이가 배너에 따라 달라지는 불균형문제가 발생한다. 그래서 광고배너는 높이를 px로 고정해야하는 경우들이 많다. 그외엔 자동높이 설정 권장!! */
}
main .slides_wrap .slides_container {
    height: 100%; /* slides_wrap와 높이 동일 */
}
main .slides_wrap .slides_container .slide {
    height: 100%; /* slides_container와 높이 동일 */
}
main .slides_wrap .slides_container .slide .contents {
    max-width:1400px; margin: 0 auto; overflow: hidden;
}
main .slides_wrap .slides_container .slide .contents .title {
    width: 40%; float: right;
    padding-top: 181px;
}
main .slides_wrap .slides_container .slide .contents .title img {}
main .slides_wrap .slides_container .slide .contents .title .bnr_link {
    margin-top: 17px;
    display:block;
    font-size: 1.13rem; font-weight: 500;
    text-decoration: underline #111 solid  1px;
    text-decoration-style: double;
}
main .slides_wrap .slides_container .slide .contents .title .bnr_link:hover {font-weight: 700;}
main .slides_wrap .prev_btn, main .slides_wrap .next_btn {

    position: absolute; top: 45%;
}
main .slides_wrap .scroll_bg  {
    background-color: #ccc;
    max-width:1400px; height: 2px;
    position: relative; bottom: 32px; margin: 0 auto;   /* *** */
}
main .slides_wrap .scroll_bg  .scrollbar {
    background-color: #111;
    width: 200px; height: 100%;
}
/* =================================광고배너 (개별배너)========= */
main .slides_wrap .slides_container .slide1 {
    background-image: url(../images/bnr1.jpg);
    background-size: cover;
    background-position: center;
    display: none;/* 초기 숨기기*/
    
}
main .slides_wrap .slides_container .slide1 .contents {}
main .slides_wrap .slides_container .slide1 .contents .title {}
main .slides_wrap .slides_container .slide1 .contents .title img {}
main .slides_wrap .slides_container .slide1 .contents .title .bnr_link {
    
}
main .slides_wrap .slides_container .slide2 {
    background-image: url(../images/bnr2.jpg);
    background-size: cover;
    background-position: center;
    
}
main .slides_wrap .slides_container .slide2 .contents {}
main .slides_wrap .slides_container .slide2 .contents .title {
}
main .slides_wrap .slides_container .slide2 .contents .title img {}
main .slides_wrap .slides_container .slide2 .contents .title .bnr_link {
    }
main .slides_wrap .prev_btn {left: 190px;}
main .slides_wrap .next_btn {right: 190px;}

/* ===========================2행 new 상품 */
main .new_item_wrap { max-width:1400px; margin: 100px auto;
    display: flex; flex-flow:row nowrap ; justify-content: center ; align-items: center;
}
main .new_item_wrap .new_item_information {text-align: center;}
main .new_item_wrap .new_item_information p:nth-child(1) {
    font-size: 2.19rem; font-weight: 500; letter-spacing: -0.02em;
    background-color: #000;color: #fff; display: inline-block; padding: 10px 34px;
    margin-bottom: 55px;
}
main .new_item_wrap .new_item_information p:nth-child(2) {font-size: 1.75rem; font-weight: 500;letter-spacing: -0.02em; margin-bottom: 15px;}
main .new_item_wrap .new_item_information p:nth-child(4) {font-size: 1.56rem; font-weight: 500;letter-spacing: -0.02em; line-height: 1.5; margin-bottom: 69px;}
main .new_item_wrap .new_item_information h2 {font-size: 2.50rem;font-weight: 700; margin-bottom: 29px;}
main .new_item_wrap .new_item_information h3 {font-size: 1.56rem; font-weight: 500; margin-bottom: 29px;}
main .new_item_wrap .new_item_information p span {color: #D40022; font-size: 2.19rem; letter-spacing: -0.02em;font-weight: 500;}
main .new_item_wrap .new_item_information p span del {
    color: #575656; font-size: 1.88rem;
}
main .new_item_wrap .new_item_img {text-align: center; margin-left: 149px; }
main .new_item_wrap .new_item_img a {}
main .new_item_wrap .new_item_img p {margin-top: 17px; font-size: 0.94rem;letter-spacing: -0.02em;}




/* ===========================3행 face best 상품 */
main .face_best_wrap {
    max-width:1400px; margin: 57px auto;
}
main .face_best_wrap .title {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
main .face_best_wrap .title h2 {font-size: 1.88rem; font-weight: 500; letter-spacing: -0.02em;}
main .face_best_wrap .title .more {letter-spacing: -0.02em;}
main .face_best_wrap .contents {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .face_best_wrap .contents li {
    width: calc((100% - (30px * 2)) / 3);
}
main .face_best_wrap .contents li .product {
    position: relative;  
}
main .face_best_wrap .contents li .product .label {
    background-color: #fff;
    position: absolute; top: 0; left: 0;
    z-index: 10; display: inline-block;
    padding: 5px 10px;

}
main .face_best_wrap .contents li .product > a {}
main .face_best_wrap .contents li .product > a img {width: 100%;z-index: 8;}
/* ===========================s:2행 마우스 올렸을때 */
main .face_best_wrap .contents li .product:hover .icon{display: block;}
main .face_best_wrap .contents li .product .icon {
    border: 5px solid red;
    position: absolute; left:0%; top: 127px; 
    width: 100%; text-align: center;
    display: none;/* ====최기 숨기기== */
}
main .face_best_wrap .contents li .product .icon a {opacity: 0.5;}
main .face_best_wrap .contents li .product .icon a:hover {opacity: 1;}
main .face_best_wrap .contents li .product .icon a img {}
main .face_best_wrap .contents li .txt {}
main .face_best_wrap .contents li .txt .category {
    letter-spacing: -0.02em; margin: 10px 0; 
}
main .face_best_wrap .contents li .txt h3 {
    font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02em;
}
main .face_best_wrap .contents li .txt .price {
    font-size: 1.13rem; letter-spacing: -0.02em;
    margin-top: 35px; font-weight: 500;
}