@media screen and (max-width: 1400px) {
/* ==============S:태블릿 (너비가 1400이하)== */
.h_bg {padding: 0 80px;}
/* ==============E:태블릿 (너비가 1400이하)== */
}
@media screen and (max-width: 1000px) {
    .h_bg header {flex-flow: column nowrap; justify-content:center; position: relative;
    align-items: flex-start;}
    .h_bg header h1 {position: absolute; top: 20px;}
    .h_bg header h1 a img {width: 100px;}
    .h_bg header .h_right {width: 100%; padding: 0;}
/* ==============S:태블릿 (너비가 850이하)== */
/* ==============E:태블릿 (너비가 850이하)== */
}
@media screen and (max-width: 730px) {
    /* ==============S:모바일 (너비가 730이하)== */
    .h_bg {padding: 0 15px;}
    .h_bg header .h_right .h_btm .h_b_left a,
    .h_bg header .h_right .h_btm  nav > a {font-size: 0.88rem;}


    /* ==============E:모바일 (너비가 730이하)== */
    }
@media screen and (max-width: 600px) {
/* ==============S:모바일 (너비가 600이하)== */
.h_bg header {flex-flow: row nowrap; justify-content:center; position: relative;
    align-items:center;}
.h_bg header .h_right .h_top > a {display:none;}
.h_bg header .h_right .h_btm {display:none;}
.h_bg header .h_right .h_top .search > a img {width: 24px;}
.h_bg header h1 {position:relative; top: 0px;}
.h_bg header .h_right .h_top .search .m_all_nav {display: inline-block;}
/* ==============E:모바일 (너비가 600이하)== */
}