#wrap {background-color: gray;}
#wrap header {
    background-color: aqua;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    background-color: yellow;
}
#wrap header nav ul {}
#wrap header nav ul li {}
#wrap header nav ul li a {
    font-weight: 600;
    font-size: 1.13rem;
}
#wrap header .right_menu {
    background-color: lime;
    
}
#wrap header .right_menu > a {}
#wrap header .right_menu ul {}
#wrap header .right_menu ul li {}
#wrap header .right_menu ul li a {}
#wrap header .right_menu ul li a img {}
/* ================================================================================== */
#wrap main {
    background-color: #fff;
}
#wrap main .path {
    background-color: #f9f9f9;
    font-size: 0.88rem;
    text-align: right;
}
#wrap main .path a {
    font-size: 0.88rem;

}
#wrap main .path em {
    font-size: 0.88rem;
    font-weight:600;
}
#wrap main .path img {
    margin: 0 12px;
    position: relative;
    top:5px; 
}
#wrap main  h1 {
    font-weight: 700;
    font-size: 3.13rem;
    margin: 44px 0 49px 0;
    text-align: center;
}
#wrap main  > p {
    font-size: 1.13rem;
    text-align: center;
    margin-bottom: 47px; 
    color:#555;
}
#wrap main .bg {
    background-color: #f9f9f9;
    padding:100px 0;
    text-align: center;
    
}
#wrap main .bg p {
    font-size: 1.13rem;
    line-height:1.5;
    padding-bottom: 60px;
}
#wrap main .bg h2 {
    font-size: 1.38rem;
    line-height: 1.5;
    color:rgba(54, 180, 229, 1);
    font-weight: 600; 
    margin-bottom: 20px;
    text-transform: capitalize;
}
#wrap main .bg h2:nth-of-type(4) {text-transform: uppercase;}
#wrap main .bg p:nth-child(5) {margin-bottom: 50px;}
#wrap main .bg p em {
    font-size: 1.88rem;
    line-height: 1.5;
    font-weight: 500; 
}
#wrap main .bg .goal_contents {
    margin-bottom: 60px;
}
#wrap main .bg .goal_contents li {
    display: inline-block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: -10px;
    padding-top: 80.5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}
#wrap main .bg .goal_contents li:nth-child(1) {background-color: #36B4E5;}
#wrap main .bg .goal_contents li:nth-child(2) {background-color:#fff;}
#wrap main .bg .goal_contents li:nth-child(3) {background-color:#F3C300;}

#wrap main .bg .goal_contents li * {display: block;} /* *모든자식을 적용하겠다*/
#wrap main .bg .goal_contents li img {display:inline-block;}
#wrap main .bg .goal_contents li span {
    font-size: 1.63rem;
    line-height: 1.5;
    font-weight: 500;
    magin-top:10px;
    color: #fff;
}  
#wrap main .bg .goal_contents li:nth-child(2) span {color: black;} /*형제한테 nth수열확인*/

#wrap main .bg .strategy_contents {
    background-color: yellow; 
    width: max-content, margin:0 auto;
}
#wrap main .bg .strategy_contents ::after {clear:both; content: ''; display:block;}
#wrap main .bg .strategy_contents dl {
    background-color: #eee;
    width: 180px;
    height: 180px;
    float: left;
    border-radius: 50%;
    margin-left:-10px;
    /* padding-top: 47.5px; */
    padding: 47.5px 15px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
#wrap main .bg .strategy_contents dl:nth-child(5) {padding-top: 34px;}
#wrap main .bg .strategy_contents dl * {line-height: 1.5;}
#wrap main .bg .strategy_contents dl dt {
    font-size: 1.13rem;
    font-weight: 500;
    /* border-bottom: 1px solid #000; */
    text-decoration: underline; 
    /*테두리vs밑줄 디자인 차이*/
    /* 테두리(border)별도 색상,굵기, 여백 추가입력가능 */
    /* 밑줄(underline)별도 굵기, 여백 불가능, 글자와 동일한 색상만 적용가능 */
    text-transform:;  모두소문자 capitalize앞글자만 대문자 uppercase 모두 대문자
}
#wrap main .bg .strategy_contents dl dt dd {
    color: #555;
}
/* ================================================================================= */
#wrap  footer {
    background-color: aqua;
}
#wrap  footer .ft_left {
    background-color: yellow;
}
#wrap  footer .ft_left .ft_menu {
    background-color: lime;
}
#wrap  footer .ft_left .ft_menu a {}
#wrap  footer .ft_left .ft_menu a em {}
#wrap  footer .ft_left .ft_menu a em img {}
#wrap  footer .ft_left address {
    background-color: aquamarine;
}
#wrap  footer .ft_left address em {}
#wrap  footer .ft_left p {}
#wrap  footer .ft_right {
    background-color: coral;
}
#wrap  footer .ft_right .family {}
#wrap  footer .ft_right .family img {}
#wrap  footer .ft_right .family .site {}
#wrap  footer .ft_right .family .site img {}


