#wrap {background-color: gray;}
#wrap header {
    background-color: aqua;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    background-color: yellow;
}
#wrap header nav ul {}
#wrap header nav ul li {}
#wrap header nav ul li a {
    font-weight: 600;
    font-size: 1.13rem;
}
#wrap header .right_menu {
    background-color: lime;
    
}
#wrap header .right_menu > a {}
#wrap header .right_menu ul {}
#wrap header .right_menu ul li {}
#wrap header .right_menu ul li a {}
#wrap header .right_menu ul li a img {}
#wrap main {
    background-color: beige;
}
#wrap main .path {
    background-color: #f9f9f9;
    font-size: 0.88rem;
}
#wrap main .path a {}
#wrap main .path em {}
#wrap main  h1 {
    font-weight: 800;
    font-size: 3.13rem;
}
#wrap main  > p {font-size: 1.13rem;}
#wrap main .bg {
    background-color: #f9f9f9;
}
#wrap main .bg p {}
#wrap main .bg h2 {}
#wrap main .bg p em {}
#wrap main .bg .goal_contents {
    background-color: yellow;
}
#wrap main .bg .goal_contents li {}
#wrap main .bg .goal_contents li img {}
#wrap main .bg .goal_contents li span {}
#wrap main .bg .strategy_contents {
    background-color: lime;
}
#wrap main .bg .strategy_contents dl {
    background-color: #eee;
}
#wrap main .bg .strategy_contents dl dt {}
#wrap main .bg .strategy_contents dl dt dd {}
#wrap  footer {
    background-color: aqua;
}
#wrap  footer .ft_left {
    background-color: yellow;
}
#wrap  footer .ft_left .ft_menu {
    background-color: lime;
}
#wrap  footer .ft_left .ft_menu a {}
#wrap  footer .ft_left .ft_menu a em {}
#wrap  footer .ft_left .ft_menu a em img {}
#wrap  footer .ft_left address {
    background-color: aquamarine;
}
#wrap  footer .ft_left address em {}
#wrap  footer .ft_left p {}
#wrap  footer .ft_right {
    background-color: coral;
}
#wrap  footer .ft_right .family {}
#wrap  footer .ft_right .family img {}
#wrap  footer .ft_right .family .site {}
#wrap  footer .ft_right .family .site img {}


