#wrap {}
#wrap header {}
#wrap main {}
#wrap main .path {background-color: #f9f9f9;}
#wrap main .path a {}
#wrap main .path img {}
#wrap main .path em {}
#wrap main h1 {}
#wrap main > p {}
#wrap main .bg {background-color: #f9f9f9;}
#wrap main .bg .corporate {
    background-color: yellow;
    width: 1140px; margin:0 auto;
}
#wrap main .bg .corporate li {
    background-color: aqua;
    width: 250px; height: 250px;
    border: 1px solid #888;
}
#wrap main .bg .corporate li:nth-child(1) {
    background-image: url(../images/info/cr01.png);
    background-repeat:no-repeat ;
    background-position:80% 85%;
}
#wrap main .bg .corporate li:nth-child(2) {
    background-image: url(../images/info/cr02.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-size:100px auto;
    background-position: 80% 85%;
}
#wrap main .bg .corporate li:nth-child(3) {
    background-image: url(../images/info/cr03.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-size:100px auto;
    background-position: 80% 85%;
}
#wrap main .bg .corporate li:nth-child(4) {
    background:lime url(../images/info/cr01.png) no-repeat 80% 85%;
}
#wrap main .bg .corporate li  h2 {}
#wrap main .bg .corporate li  p {}
#wrap footer {}
