body, html {background-color: black; color: #fff;}
header {
    position: relative; width: 1600px; margin: 0 auto;
}
header .menu_wrap {
    position: fixed; right: 180px; top: 50px; z-index: 999;
    }
header .menu_wrap nav {
    
    width: 204px; height: 260px;
    display: flex; flex-flow: column nowrap; text-align: center;
    padding: 10px 20px;
}


header .menu_wrap nav:hover P {display: block;}
header .menu {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    border-bottom: 1px solid #fff; padding: 10px;
}
header nav .menu a {}
header nav a {
    color: #fff; font-size: 1.25rem; font-weight: 600; line-height: 1.2;
    letter-spacing: -0.02em;
}
header nav .menu a img {width: 100%; }
header nav .menu a.active {}     
header nav p {padding: 10px 0; display: none; transition:height 0.5s;}
header nav p a {
    border-bottom: 1px solid #fff; display: block; padding-bottom: 5px;
    font-size: 1.05rem;
}
header nav p a:hover {background-color:#222;}

/* */

.wrap {width:100%; height:max-content; height:100vh; margin: 0 auto;} 
.wrap .main_bg {
    width: 100%; margin: 0 auto;
    position: relative;
}
.wrap .main_bg video {
    width:100%; height: 100vh;
    object-fit: cover; pointer-events: none;
    }
.wrap .main_bg .main_text {
    text-align: center;
    position: absolute; top: 35%; left: 50%; transform: translateX(-50%)
    
}
.wrap .main_bg .main_text p {
    color: #fff; 
    line-height: 1.2;   margin-bottom: 20px;
}
.wrap .main_bg .main_text p:nth-of-type(1) {margin-bottom: 45px; font-size: 1.5rem;font-weight: 500;font-family: "ZCOOL QingKe HuangYou";letter-spacing: 0.01em;}
.wrap .main_bg .main_text p:nth-of-type(2) {font-size: 1.00rem; font-weight: 500;font-family: "ZCOOL QingKe HuangYou";letter-spacing: 0.01em;}
.wrap .main_bg .main_text p:nth-of-type(3) {font-size: 2.90rem; font-weight: 700;}
.wrap .main_bg .main_text p:nth-of-type(4) {font-size: 1.25rem; font-weight: 600;}
/* 프로필 */
.wrap .title {
    width: 1600px; margin: 0 auto;
    margin-top: 50px; font-size: 2.50rem; font-weight: 600;
    line-height: 1.7; 
    margin-bottom: 170px; 
    font-family: "ZCOOL QingKe HuangYou";letter-spacing: 0.01em;
}

.wrap .profile {width: 1600px; margin: 100px auto; margin-bottom: 200px;  }

.wrap .profile .contents p {margin-bottom: 10px;}
.wrap .profile .contents {
    width: 100%; margin: 0 auto;
    display: flex; flex-flow: row nowrap; justify-content: center; 
    margin-bottom: 100px;
    
}
.wrap .profile .contents .left {
    margin-right: 120px;
}
.wrap .profile .contents .left .Profile { margin-bottom: 145px;}
.wrap .profile .contents .left .Profile p:last-of-type { margin-bottom: 10px;}
.wrap .profile .contents .left .Profile p {font-size: 0.94rem; font-weight: 300; line-height: 1.7; letter-spacing: -0.02em;}
.wrap .profile .contents .left .Profile h3 {
    margin-bottom: 100px;font-size: 1.66rem; font-weight: 400; line-height: 1.2; letter-spacing: -0.01em; padding: 20px 0;
    border:1px solid #fff; border-left: 0; border-right: 0;
    font-family: "ZCOOL QingKe HuangYou";letter-spacing: 0.03em;
}
.wrap .profile .contents .left .License {}
.wrap .profile .contents .left .License p:last-of-type { margin-bottom: 10px;}
.wrap .profile .contents .left .License p {font-size: 0.94rem; font-weight: 300; line-height: 1.7; letter-spacing: -0.02em;}
.wrap .profile .contents .left .License h3 {
    font-size: 1.66rem; font-weight: 400; line-height: 1.2; letter-spacing: -0.01em; padding: 20px 0; border:1px solid #fff; border-left: 0; border-right: 0;
    font-family: "ZCOOL QingKe HuangYou";letter-spacing: 0.03em;
}
.wrap .profile .contents .center { padding-top: 30px;
    margin-right: 100px; margin-top: 75px;
}
.wrap .profile .contents .center p {font-size: 0.94rem; font-weight: 300; line-height: 1.7; letter-spacing: -0.02em;}
.wrap .profile .contents .center h3 {
    margin-top: 10px;
    border:1px solid #fff; border-left: 0; border-right: 0;
    font-size: 1.66rem; font-weight: 400; line-height: 1.2; letter-spacing: -0.01em;padding: 20px 0 ;
    font-family: "ZCOOL QingKe HuangYou";letter-spacing: 0.03em;
    
}
.wrap .profile .contents .right {
    margin-top: 300px;
    width: 140px;
    display: flex; flex-flow: row wrap; }
.wrap .profile .contents .right p {
    width: 50px; margin-right: 5px;  padding: 10px;
}
.wrap .profile .contents .right p img {width: 100%;}

/* 웹 프로젝트 */

.wrap #project1 {width: 1600px; margin: 0 auto;  
}
.wrap #project1 .title {margin-bottom: 110px; font-size: 2.5rem; font-weight: 700;}

.wrap #project1 .contents {width:1367px; margin:0 auto; display:flex; gap:40px; height: 670px;

}
.wrap #project1 .contents .swiper {transition-timing-function: linear; 
    
}
.wrap #project1 .contents .swiper .swiper-wrapper { }
.wrap #project1 .contents .swiper .swiper-wrapper .swiper-slide {}
.wrap #project1 .contents .swiper .swiper-wrapper .swiper-slide .slid {
    display:flex; align-items: center; justify-content: space-between; padding:50px 50px;
    /* border: 1px solid #fff;     */
}
.wrap #project1 .contents .swiper .swiper-wrapper  .left_poto {width: 800px; margin-right:100px ;}
.wrap #project1 .contents .swiper .swiper-wrapper  .left_poto img {width: 800px;}

/* 웹프로젝트 소개 글 */
.wrap #project1 .contents .swiper .swiper-wrapper  .right_text {width:calc(100% - 100px);}
.wrap #project1 .contents .swiper .swiper-wrapper  .right_text h1 {font-size: 1.58rem; font-weight: 600; line-height: 1.7; letter-spacing: -0.02em; margin-bottom: 10px;}
.wrap #project1 .contents .swiper .swiper-wrapper  .right_text p {font-size: 1.08rem;line-height: 1.7; letter-spacing: -0.02em;}
.wrap #project1 .contents .swiper .swiper-wrapper  .right_text p:nth-of-type(1){margin-bottom: 20px; font-weight: 400; font-size: 1rem;}
.wrap #project1 .contents .swiper .swiper-wrapper  .right_text p:nth-of-type(3){margin-bottom: 20px;}
.wrap #project1 .contents .swiper .swiper-wrapper  .right_text p:nth-of-type(5){margin-bottom: 40px;}

.wrap #project1 .contents .swiper .swiper-wrapper  .right_text .btn {margin:20px 0 0; display:flex;}
.wrap #project1 .contents .swiper .swiper-wrapper  .right_text .btn a {
    padding:10px 15px; border-radius:5px; transition: all 0.3s; line-height: 1.7; letter-spacing: -0.02em; font-size: 0.98rem;
    background-color: #fff; color: #000;
}
.wrap #project1 .contents .web .swiper-slide .right_text .btn a:nth-child(2) {background-color: #fff; color: #000; margin:0 4px;}
.wrap #project1 .contents .web .swiper-slide .right_text .btn a:nth-child(3) {background-color: #eee; color:#000;}
.wrap #project1 .contents .web .swiper-slide .right_text .btn a:hover {box-shadow:0 0 10px rgba(0,0,0,0.2); padding-right:30px; transform-origin:left top;}

.wrap #project1 .contents .swiper-scrollbar { background-color: #3b3b3b; height: 3px; }

/* 배너외 */

.wrap #project2 {}
.wrap #project2 .title h2 {font-size: 2.5rem; font-weight: 700; font-family: "ZCOOL QingKe HuangYou";letter-spacing: 0.01em;}
.wrap #project2 .contents {width: 80%; margin:50px auto 0; display:block; }
.wrap #project2 .contents .left {float:left; width:calc(100% - 450px)}
.wrap #project2 .contents .design1 {
    width:100%; margin:0; height:150px; background:#000000;  border-radius:10px;
    margin-bottom: 30px;
}

.wrap #project2 .contents .design1 .swiper-wrapper {transition-timing-function: linear; }
.wrap #project2 .contents .design2 {width:100%; margin:0; height:370px; background:#000000;  border-radius:5px; margin-bottom: 40px;}
.wrap #project2 .contents .design2 .swiper-wrapper {transition-timing-function: linear;}
.wrap #project2 .contents .design3 {width:300px; height:700px; background:rgb(2, 2, 2); border-radius:5px;}
.wrap #project2 .contents .swiper-slide img {width:100%; transition: all 0.5s;}
.wrap #project2 .contents .swiper-slide img:hover {transform:rotate(3deg)}/* 프로젝트 마우스 오버 효과 */
/* .wrap #project2 .contents .design3 img {animation:design3img 20s infinite linear alternate;} */
.wrap #project2 .contents .design3_set .de1 img {border: 0.5px solid #2c2c2c}
.wrap #project2 .contents .design3_set {float:right; width:400px; transform:translateY(-140px); position: relative;}
.wrap #project2 .contents .design3_set .swiper-pagination {bottom:-30px; width:100%;}
/* =========================================================================================== */
.wrap #project2 .contents .popup_bg {
    background: rgba(0,0,0,0.5);
    position:fixed; left:0; top:0; z-index:999; width:100%; height:100vh;
    /* padding-top:100px; */
    display:flex; align-items: center;
}
.wrap #project2 .contents .popup_bg .popup {
    width:700px; height:800px; overflow:auto; margin:0 auto; border-radius:5px;
}
.wrap #project2 .contents .popup_bg .popup img {width:100%;}
/* =========================================================================================== */
@keyframes skill {
    0% {transform:translateY(0)}
    100% {transform:translateY(30px)}
}
@keyframes design3img {
    0% {transform:translateY(0)}
    100% {transform:translateY(-500px)}
}
@keyframes txt-bnr {
    0% {background-position-x:0;}
    100% {background-position-x:1000px;}
}