#wrap {
    background-color: brown;
}
#wrap header {
    background-color: rgba(0,0,0,0,0.1);
    /* headr는 모든 사이트에서 높이 고정되는 경우가 90% 이상이다. */
    height:80px;
    padding:21px 80px;
}
#wrap header::after {clear:both; display:block; content:'';}
#wrap header h1 {
    background-color: aqua; 
    float: left;
    padding-top: 3px;
    
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    background-color: coral;
    float: right;
    

}
#wrap header nav ul {overflow: hidden;}
#wrap header nav ul li {
    float:left;
    /* display: inline-block; 단순히 옆나열은 플롯 */
    margin-right: 80px;
    padding: 10px 0;

}
#wrap header nav ul li a { 
    font-weight: 600;
    font-size: 1.13rem;
    color: #fff;
}
#wrap header nav ul li:nth-child(4) {
    margin:0;
    padding:0;
}
#wrap header nav ul li:nth-child(4) a {
    border: 1px solid #fff;
    padding: 10px 20px;
    display: block;  /* a는 인라인이기도해서 모양이 망가진다 */
    border-radius: 25px; /* 픽셀로 적을것 */
}
#wrap main {background-color: lime;}
/* ===================================메인 ~1~4행 공통선택자 */
#wrap main .containr {background-color: beige;}
#wrap main .containr .contents {
    background-color: hotpink;}
#wrap main .containr .contents .txt {
    background-color: aqua;
}
#wrap main .containr .contents .txt h1 {}
#wrap main .containr .contents .txt h1 span {}
#wrap main .containr .contents .txt p {}
/* ==================================메인 1행 결제 편리함 */
#wrap main .pay {
    background-image: url(../images/row1.jpg);
}
#wrap main .pay .contents {}
#wrap main .pay .contents .txt {}
#wrap main .pay .contents .txt h1 {}
#wrap main .pay .contents .txt h1 span {}
#wrap main .pay .contents .txt p {}
#wrap main .pay .contents .txt .bnr_btn_wrap {
    background-color: purple;
}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev {}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev img {}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress {}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause {}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause img {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next img {}
#wrap main .pay .contents .scroll {
    background-color: brown;
}
#wrap main .pay .contents .scroll span:nth-child(1) {}
#wrap main .pay .contents .scroll .scroll_bg {}
#wrap main .pay .contents .scroll .scroll_bg .bar {}


