#wrap {}
#wrap header {
    background-color: rgba(0,0,0,0,0.1);
    /* headr는 모든 사이트에서 높이 고정되는 경우가 90% 이상이다. */
    height:80px;
    padding:21px 80px;
    position: fixed; left: 0; top: 0; z-index: 999;
    width: 100%;
}
#wrap header::after {clear:both; display:block; content:'';}
#wrap header h1 {
    float: left;
    padding-top: 3px; 
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    float: right;
}
#wrap header nav ul {overflow: hidden;}
#wrap header nav ul li {
    float:left;
    /* display: inline-block; 단순히 옆나열은 플롯 */
    margin-right: 80px;
    padding: 10px 0;
}
#wrap header nav ul li a { 
    font-weight: 600;
    font-size: 1.13rem;
    color: #fff;
}
#wrap header nav ul li:nth-child(4) {
    margin:0;
    padding:0;
}
#wrap header nav ul li:nth-child(4) a {
    border: 1px solid #fff;
    padding: 10px 20px;
    display: block;  /* a는 인라인이기도해서 모양이 망가진다 */
    border-radius: 25px; /* 픽셀로 적을것 */
}
#wrap main {}
/* ===================================메인 ~1~4행 공통선택자 */
#wrap main .containr {background-color: beige;}
#wrap main .containr .contents {
    width:1440px; height:100vh;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3); /*제거용*/
}
#wrap main .containr .contents .txt {
    background-color: orange;
}
#wrap main .containr .contents .txt .sub_title {
    font-size: 1.56rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    color: #fff;
}
#wrap main .containr .contents .txt h1 {
    font-weight: 700;
    font-size: 4.38rem; line-height:1.3;
    color:#fff
}
#wrap main .containr .contents .txt h1 span {
    color:#5EE1FF;
    font-weight: 700;
    font-size: 4.38rem;
}
#wrap main .containr .contents .txt h1+p {
    font-size:1.5rem;
    font-weight:500;
    line-height:1.5;
    letter-spacing:-0.02em; color:#fff;
    margin:20px 0;
} /*h1에서 인접한 다음 P를 선택해라..* h1~p(h1뒤에 모든것잡아라)/
/* ==================================메인 1행 결제 편리함 */
#wrap main .pay {
    background-image: url(../images/row1.jpg);}
#wrap main .pay .contents {position: relative;}
#wrap main .pay .contents .txt {
    padding-top: 231px;
    background-size:cover;
}
#wrap main .pay .contents .txt h1 {}
#wrap main .pay .contents .txt h1 span {
}
#wrap main .pay .contents .txt p {}
#wrap main .pay .contents .txt .bnr_btn_wrap {
}
#wrap main .pay .contents .txt .bnr_btn_wrap>*{margin-right: 10px;}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev {}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev img {}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress{
    display: inline-block;
    width: 100px; height: 2px;
    background-color:rgba(255, 255, 255, 0.3);
    position:relative; bottom: 12px;
}
#wrap main .pay .contents .txt .bnr_btn_wrap.progress:nth-child(4) {
    background-color:rgba(255, 255, 255, 1);
}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause {}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause img {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next img {}
#wrap main .pay .contents .scroll {   
    position: absolute;
    right: 0; bottom: 43px;
}
#wrap main .pay .contents .scroll span:nth-child(1) {
    text-transform:uppercase;  /*모두 대문자*/
    font-size: 0.88rem; line-height:1.3; ; font-weight: 500;
    color: #fff;
    position: relative; top:6px;
}
#wrap main .pay .contents .scroll .scroll_bg {
    display: inline-block;
    width: 12px; height: 30px;
    background-color: #555;
    border-radius: 6px;  
}
#wrap main .pay .contents .scroll .scroll_bg .bar {
    display: inline-block;
    width: 8px; height: 8px;
    background-color:#fff;
    border-radius: 50%;
    position:relative; left: 2px; top: -5px;
}
/* ===========================================2페이지 시작 */
#wrap main .service { background-image: url(../images/row2.jpg);}
#wrap main .service .contents {
    overflow: hidden;
    padding-top: 311px;
}
#wrap main .service .contents .txt {
    float: left;
}
#wrap main .service .contents .txt h1 {}
#wrap main .service .contents .payment {
    float:right;
}
/*============================1111111111=======================*/
#wrap main .service .contents .payment .card_bg {
    background-image: url(../images/card_bg1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative; bottom: 150px; 
    margin-right: 22px;
    padding-top: 200px;
    width: 331px;
    border-radius: 25px;
}
#wrap main .service .contents .payment .card_bg .card {
    padding: 30px 20px 0 ;
    background-color: #fff;
    border-radius:0 0 25px 25px;
}
#wrap main .service .contents .payment .card_bg .card h2 {
    margin-bottom: 35px; font-size: 1.56rem; font-weight: 600;
    letter-spacing: 0.02em;
}
#wrap main .service .contents .payment .card_bg .card p {
    margin-bottom: 35px;
    color: #555;
    line-height: 150%;
}
#wrap main .service .contents .payment .card_bg .card .read {
    border-top: 1px solid #000;
    display:block;
    overflow: hidden;
    padding-top: 10px;
    }
#wrap main .service .contents .payment .card_bg .card .read p {
    display: inline-block;
    float: left;
}
#wrap main .service .contents .payment .card_bg .card .read p:nth-of-type(1) {color: #000;}
#wrap main .service .contents .payment .card_bg .card .read p:nth-of-type(2) {
    display: inline-block;
    float: right;
}
#wrap main .service .contents .payment .card_bg .card .read p img {}


/* =========================222222222222======================     */

#wrap main .service .contents .payment .account_bg {
    background-image: url(../images/card_bg2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative; 
    margin-right: 22px;
    padding-top: 200px;
    width: 331px;
    border-radius: 25px;
    opacity:0.6;
}
#wrap main .service .contents .payment .account_bg .account {
    padding: 30px 20px 0 ;
    background-color: #fff;
    border-radius:0 0 25px 25px;
    opacity:1;
}
#wrap main .service .contents .payment .account_bg .account h2 {
    margin-bottom: 35px; font-size: 1.56rem; font-weight: 600;
}
#wrap main .service .contents .payment .account_bg .account p {
    margin-bottom: 35px;
    color: #555;
    line-height: 150%;
}
#wrap main .service .contents .payment .account_bg .account .read_02 {
    border-top: 1px solid #000;
    display:block;
    overflow: hidden;
    padding-top: 10px;
}
#wrap main .service .contents .payment .account_bg .account .read_02 p {
    display: inline-block;
    float: left;
}
#wrap main .service .contents .payment .account_bg .account .read_02 p:nth-of-type(1) {color: #000;}
#wrap main .service .contents .payment .account_bg .account .read_02 p:nth-of-type(2) {
    display: inline-block;
    float: right;
}
#wrap main .service .contents .payment .account_bg .account .read_02  img {}

/* ===========================================3페이지 시작 =============================*/
#wrap main .different {
    background-image: url(../images/row3.jpg);
    background-size: cover;
}
#wrap main .different .contents {}
#wrap main .different .contents .txt {
    text-align: center;
    padding-top: 192px;
}
#wrap main .different .contents .txt .sub_title {}
#wrap main .different .contents .txt .sub_title h1 {}
#wrap main .different .contents .txt .sub_title h1 span {}
#wrap main .different .contents .txt .sub_title h1+p {}/*h1다음의 P*/ 
#wrap main .different .contents ol {
    overflow: hidden;
}
#wrap main .different .contents ol li {
    width: 290px; height: 290px; border-radius: 50%;
    border: 20px solid rgba(255, 255,255,0.5);
    position: relative; /*after 가상요소의 부모설정*/
    float: left;
    margin-right: 93.33px;

}
#wrap main .different .contents ol li::after {
    content:'';
    display: block;
    background-color:#fff;
    width: 250px; height:250px; border-radius: 50%;
    position: absolute; left:0; top:0; z-index: 10;
}
#wrap main .different .contents ol li:nth-child(4) {margin: 0;}/*마진0 P*/ 
#wrap main .different .contents ol li >* {
    position: relative;
    z-index: 20;
    text-align: center;
}
#wrap main .different .contents ol li .num {
    background-color:#5E91FF;
    color: #fff;
    font-size:1.56rem ;
    font-weight: 600;
    margin:67px 0 10px;
    border-radius: 20px;
    padding:5px 20px;
 
}
#wrap main .different .contents ol li h2 {}


#wrap main .question {}
#wrap main .question .contents {padding-top: 231px;}
#wrap main .question .contents .txt {margin-bottom: 54px;}
#wrap main .question .contents .txt .sub_title {color: #5E91FF;}
#wrap main .question .contents .txt h1 {color: #000;}
#wrap main .question .contents .q_contents {}
#wrap main .question .contents .q_contents a {
    background-color: #D9D9D9;
    overflow: hidden;
    display: block;
    padding: 20px; margin-bottom: 20px;
    font-size: 1.56rem;
    font-weight: 500;
    letter-spacing:-0.02em;
}
#wrap main .question .contents .q_contents a:nth-child(3){margin: 0;}
#wrap main .question .contents .q_contents a .q_left {
    float: left;
    }
#wrap main .question .contents .q_contents a .q_left .category {}
#wrap main .question .contents .q_contents a .q_left img {position: relative; top: 3px;}
#wrap main .question .contents .q_contents a .q_left em {}
#wrap main .question .contents .q_contents a p {}
#wrap main .question .contents .q_contents a .q_down {
    background: coral;
    float: right;
}
#wrap main .question .contents .q_contents a .q_down img {}
