body {background-color: #f5f5f5;}
main {
    width:612px;
    margin: 41px auto 0;
    padding: 0 0 100px;
}
main h1 {text-align: center; margin: 0 0 41px;}
main h1 a {}
main h1 a img {}

/* ===================================================================================가입약관 */
main .join_law {
    background-color:#fff;
    height: 200px; overflow:auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 54px;
}
main .join_law * {font-size: 0.75rem;} 
main .join_law h2 {margin-bottom: 40px;}
main .join_law h3 {margin-bottom: 7px;}
main .join_law p {margin-bottom: 20px; line-height: 1.4;}
/* ===================================================================================가입양식시작 */
main #joinFrm {}
/* ===================================================================================공통디자인 */
main #joinFrm dl {
    overflow: hidden;
}
main #joinFrm dl dt {
    width: 156px; float: left; clear: both;
    letter-spacing: -0.02em;
    padding-top: 12px;
}
main #joinFrm dl dt .essential { color: #f00;}
main #joinFrm dl dd {
    width:calc(100% - 156px);
    float: right;
    margin-bottom: 10px;
}
main #joinFrm dl dd input[name^=user] {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    width: 300px ; font-size: 0.88rem; letter-spacing: -0.02em;
}
main #joinFrm dl dd input[name^=user]::placeholder {color: #aaa;}

main #joinFrm dl dd .common_btn {
    color: #fff;
    font-size: 0.88rem; letter-spacing: -0.02em;
    width: 120px; height: 40px;
    border-radius: 5px;
    background-color: #9E00B7;
    float: right;
    
}
/* ===================================================================================개별디자인 */
main #joinFrm dl dd input[name$=id] {}
main #joinFrm dl dd .redundancy_btn {}
main #joinFrm dl dd input[name$=pw] {}
main #joinFrm dl dd input[name$=pw_re] {}
main #joinFrm dl dd input[name$=name] {}
main #joinFrm dl dd input[name$=mail] {}
main #joinFrm dl dd .mail_redundancy_btn {}
main #joinFrm dl dd select[name=agency] {
    width: 50px; height: 40px;
    padding: 9px;
    font-size: 0.75rem; letter-spacing: -0.02em;
    border: 1px solid #aaa; border-radius: 5px;
    /* background-image: url(../images/kurly/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-position: 90% center */
    background: #fff url(../images/kurly/arrow_drop_down.png) no-repeat 35px 20px;
}
main #joinFrm dl dd select[name=agency] option {}
main #joinFrm dl dd input[name$=num] {width: 245px;}
main #joinFrm dl dd .authen_get_btn {background-color: #ccc;}
main #joinFrm dl dd .address_search {
    display: block; width: 300px; letter-spacing: -0.02em;
    background-color: #fff;
    border: 1px solid #9E00B7;
    padding: 10px 0; text-align: center; border-radius: 5px;
}
main #joinFrm dl dd .address_search+p {
    font-size: 0.088px; letter-spacing: -0.02em; color: #aaa;
    margin-top: 8px;
}
main #joinFrm dl dd {}
main #joinFrm dl dd label:first-child {padding-left: 37px;}
main #joinFrm dl dd label:first-child(2) {margin: 0 30px;}
main #joinFrm dl dd label {padding: 10px 0; display: inline-block;}
main #joinFrm dl dd label input[name=gender] {}
main #joinFrm dl dd label span {
    background-image: url(../images/kurly/gender_unchecked.png);
    background-repeat: no-repeat;
    padding-left: 20px; font-size:0.88rem;
    background-position-y: center;

}
/* ==================================================================================성별확성화 기준 */
main #joinFrm dl dd label input[name=gender]:checked+span {
    background-image: url(../images/kurly/gender_checked.png);
    background-repeat: no-repeat;
}   
/* ===================================================================================생년월일 */
main #joinFrm dl dd .birthday_g {
    background-color: #fff;
    border: 1px solid #9E00B7;
    border-radius: 5px; width: 300px; padding: 10px 0;
    text-align: center;
}
main #joinFrm dl dd .birthday_g input {
    width: 29px; font-size: 0.88rem;
    }
main #joinFrm dl dd .birthday_g input::placeholder {color: #aaa;}

main #joinFrm dl dd .birthday_g input span {}
main #joinFrm dl dd .birthday_g input span img {}
/* ===================================================================================가입하기 */
main #joinFrm .btn {
    text-align: center; margin-top: 54px;
}
main #joinFrm .btn .join_btn {
    background-color: #9E00B7; color: #fff;
    border-radius: 10px;
    width: 200px; padding: 15px 0;
    font-size: 0.88rem; letter-spacing: -0.02em;
}