header {
    width: 1152px; margin: 0 auto;
}
/* ====================================header top */
header .top {
    height: 48px;
    /* lnb+mylnb 정렬하기 위한 flex 적용부모 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .top .lnb {
    /* 서울특별시 h1~응답소 a자식을 정렬하기 위한 flex적용부모 */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}
header .top .lnb h1 {}
header .top .lnb h1 a {}
header .top .lnb h1 a img {}
header .top .lnb > a {margin-left: 20px; letter-spacing: -0.02em;} /* 위a랑 중복되지않게*/
header .top .my_lnb {

}
header .top .my_lnb a {margin-right: 20px;letter-spacing: -0.02em;}
header .top .my_lnb a:last-child {margin:0;}
/* ====================================header bottom */
header .bottom {

    height: 119px;
    /* 로고h1~언어div 자식을 묶는 flex적용부모 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #searchFrm {
    width: 369px; height: 46px;
    padding: 0 20px;
    border: 2px solid #1E6CB3;
    /* input+button 정렬을위한 flex부모 */
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center
}
header .bottom #searchFrm input[name*=search] {padding: ;}
header .bottom #searchFrm input::placeholder {color: #1E6CB3; letter-spacing: -0.02em;}
header .bottom #searchFrm #search_btn {}
header .bottom #searchFrm #search_btn img {}
header .bottom .lang {
    
} 
header .bottom .lang select[name*=lang] {
    border: 1px solid #1E6CB3; 
    width: 93px; height: 29px;
    margin-right: 2px;
    padding: 5px 10px; 
    font-size: 0.81em;
}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang .lang_btn {
    background-color: #1E6CB3; color: #fff;
    width: 30px; height: 29px;  font-size: 0.81em;
}
/* ====================================main */
main {}
/* ====================================main 1. 상단 이벤트+공지사항 배너 */
main .visual_container {
    width: 1152px; margin: 0 auto;
    /* 좌(거리두기) 우(현황,교통) 자식정렬 부모 flex 대상 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
} 
main .visual_container .corona_notice {
    position: relative;
} 
main .visual_container .corona_notice img {} 
main .visual_container .corona_notice .close {
    background-color: #1E6CB3; color: #fff;
    width: 62px; height: 32px;
    position: absolute; right: 10px; bottom: 10px;
    display: block; border-radius: 5px; padding:5px 10px;
} 
main .visual_container .right_container {
    width: 360px;
} 
main .visual_container .right_container .corona {
    position: relative; 
} 
main .visual_container .right_container .corona img {} 
main .visual_container .right_container .corona span {position: absolute; display: block;
color: #fff;} 
main .visual_container .right_container .corona .date {}
main .visual_container .right_container .corona .date:nth-of-type(1) {width: 160px; right: 20px; top:11px}
main .visual_container .right_container .corona .data {} 
main .visual_container .right_container .corona .data1, 
main .visual_container .right_container .corona .data2 { width:140px; text-align: center;}
main .visual_container .right_container .corona .data1 { left: 30px; top: 80px;} 
main .visual_container .right_container .corona .data2 { right: 30px; top: 80px;}
main .visual_container .right_container .corona .data3, 
main .visual_container .right_container .corona .data4 {width: 94px;text-align: center;} 
main .visual_container .right_container .corona .data3 { left: 30px; bottom: 52px;}
main .visual_container .right_container .corona .data4 { right: 121px; bottom: 52px;}
main .visual_container .right_container .corona .data5 {
    width: 59px;text-align: center;
    right: 33px; bottom: 52px;
} 
main .visual_container .right_container .traffic {margin-top: 10px;} 
main .visual_container .right_container .traffic a {} 
main .visual_container .right_container .traffic a img {} 
/* ======================================================main 2~5 공통 제목디자인 */
main > * {width: 1152px; margin: 50px auto 0;}/* 메인에 모든자식 마진탑적용후 미해당자식은 개별수정해줬다  */
main > * .title {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
main > * .title h1 {font-size:1.44rem; font-weight:500; letter-spacing: -0.02em;}
main > * .title .more_view {padding: 10px; border: 1px solid #aaa;letter-spacing: -0.02em;}
/*  */
/* =================================================main 2. 주요서비스 */
main .service_container {
}
main .service_container .title {
}
main .service_container .title h1 {}
main .service_container .title .more_view {}
main .service_container .contents {

    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
main .service_container .contents a {
    display: flex; flex-flow: column nowrap;
    /* flex: 1; =같은 비율로 정렬가능, 아래calc같은 효과*/
    width: calc(100% / 11);
    align-items: center; padding: 20px 0;

    
}
main .service_container .contents a em {
    font-size: 0.81rem; letter-spacing: -0.02em;
}
main .service_container .contents a span {
    width: 60px; height: 60px;
    background-image: url(../images/service\ .png);
    margin-bottom: 15px;
}
main .service_container .contents a:nth-child(1) span {/* 마진0오토로 가운데 정렬가능 */}
main .service_container .contents a:nth-child(2) span {background-position-x: -60px;}
main .service_container .contents a:nth-child(3) span {background-position-x: -120px;}
main .service_container .contents a:nth-child(4) span {background-position-x: -180px;}
main .service_container .contents a:nth-child(5) span {background-position-x: -240px;}
main .service_container .contents a:nth-child(6) span {background-position-x: -300px;}
main .service_container .contents a:nth-child(7) span {background-position-x: -360px;}
main .service_container .contents a:nth-child(8) span {background-position-x: -420px;}
main .service_container .contents a:nth-child(9) span {background-position-x: -480px;}
main .service_container .contents a:nth-child(10) span {background-position-x: -540px;}
main .service_container .contents a:nth-child(11) span {background-position-x: -600px;}

/* ======================================================main 3. 신청,행사,서비스 */
main .corona_container {
    width: 100%; 
    background-color: #EFF4F8;}
main .corona_container .contents {
    width: 1152px; margin: 0 auto;
    display: flex; flex-flow: row nowrap; padding: 50px 0; 
}
main .corona_container .contents a {flex: 1;}
main .corona_container .contents a img {width: 100%;} /*부모크기를 나눠갖는경우 % 지정 */
/* =======================================================★★★공통 신청+축제+서비스 ★★★========== */
main .event_container {
    display: flex; flex-flow: row wrap;
}
main .event_container .contents {flex: 1; margin-right: 22px;}
main .event_container .contents .title {}
main .event_container .contents .title h1 {}
main .event_container .contents .title h1 a {}
main .event_container .contents .title h1 .more {}
main .event_container .contents .title h1 .more img {}
main .event_container .contents .list {margin-top: 15px;}
main .event_container .contents .list li {
    margin-bottom: 25px;
    display: flex; flex-flow: row wrap;
}
main .event_container .contents .list li:last-child li {margin-bottom: 0px;} 
main .event_container .contents .list li .category {letter-spacing: -0.02em; margin-right: 10px; width: 30px;}
main .event_container .contents .list li a {
    /* 자동줄바꿈 및 말줄임 처리 */
    white-space: nowrap; width: calc(100% - 40px);
    overflow: hidden;  /* a안에서만 보이고 밖은 보이지말아라 (꼭 너비가 셋트) */
    text-overflow: ellipsis;  /* 오버플루어 된부분을 말줄임으로 나타나겠다 */
}

main .event_container .contents .list li .admin {color: #028AB6;} /*행정*/
main .event_container .contents .list li .environment {color: #599100;} /*환경*/
main .event_container .contents .list li .welfare {color: #D76000;} /*복지*/
main .event_container .contents .list li .housing {color:#C35C3C} /*주택*/
main .event_container .contents .list li .culture {color: #9B64D3;} /*문화*/
main .event_container .contents .list li .economy {color: #069363;} /*경제*/

/* ======================================================main 3-1 이벤트신청 */
main .event_container .event_apply {

}
main .event_container .event_apply .title {}
main .event_container .event_apply .title h1 {}
main .event_container .event_apply .title .more {}
main .event_container .event_apply .title .more img {}
main .event_container .event_apply .list {}
main .event_container .event_apply .list li {}
main .event_container .event_apply .list li .category {}
main .event_container .event_apply .list li a {}
/* ======================================================main 3-2 이달행사축제 */
main .event_container .month_event {
    
}
main .event_container .month_event .title {}
main .event_container .month_event .title h1 {}
main .event_container .month_event .title .more {}
main .event_container .month_event .title .more img {}
main .event_container .month_event .list {}
main .event_container .month_event .list li {}
main .event_container .month_event .list li .category {}
main .event_container .month_event .list li a {}
/* ======================================================main 3-3 자주찾은서비스 */
main .event_container .service_visit {
    margin-right: 0;
    
}
main .event_container .service_visit .title {}
main .event_container .service_visit .title h1 {}
main .event_container .service_visit .title .more {}
main .event_container .service_visit .title .more img {}
main .event_container .service_visit .list {
    background-color: #EFF4F8;
    padding: 13px;
    display: flex; flex-flow: row wrap;
    
}
main .event_container .service_visit .list li {width: calc(100% / 2); margin-bottom: 25px;} /* 두줄로 보고싶음 */
main .event_container .service_visit .list li:last-child,
main .event_container .service_visit .list li:nth-child(9) {margin:0;}
main .event_container .service_visit .list li a {}
/* ======================================================main 4. 분야정보 */
main .info_container {
    
}
main .info_container .title {}
main .info_container .title h1 {}
main .info_container .contents {
    display: flex; flex-flow: row wrap; 
    justify-content: space-around; padding: 20px;
}
main .info_container .contents a {
    display: flex; flex-flow: column nowrap; align-items: center;
}
main .info_container .contents a span {
    width: 104px; height: 111px;
    background-image: url(../images/category_info.png); 
}
main .info_container .contents a:nth-child(1) span {}
main .info_container .contents a:nth-child(2) span {background-position-x: -104px;}
main .info_container .contents a:nth-child(3) span {background-position-x: -208px;}
main .info_container .contents a:nth-child(4) span {
    background-position-x: -312px;
}
main .info_container .contents a:nth-child(5) span {background-position-x: -312px;}
main .info_container .contents a:nth-child(6) span {background-position-x: -416px;}
main .info_container .contents a:nth-child(7) span {background-position-x: -520px;}
main .info_container .contents a:nth-child(8) span {background-position-x: -624px;}
main .info_container .contents a em {letter-spacing: -0.02em;}
/* ======================================================main 5. 새소식 */
/* calc(100% - 총여백) / 한줄에 들어오는 열 개수) */
main .new_container {}
main .new_container title {}
main .new_container title h1 {}
main .new_container title .more_view {}
main .new_container .contents {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 44px;
}
main .new_container .contents li {
    width: calc((100% - 39px) / 4);
    margin-right: 13px;
    margin-bottom: 30px;
}

main .new_container .contents li:nth-of-type(4) {margin: 0;}
main .new_container .contents li:nth-of-type(8) {margin: 0;}
main .new_container .contents li a {
}
main .new_container .contents li a img {width: 100%;}
main .new_container .contents li a img {}

main .new_container .contents li a span {
    line-height: 150%; font-size: 0.88em; letter-spacing: -0.02em;
}
/* ====================================footer====================================== */
footer { width: 1152px; margin: 0 auto;}
footer .top {
    display: flex; flex-flow: row wrap; justify-content: space-between; 
    padding: 20px 0;
}
footer .top .menu {

    display: flex;
}
footer .top .menu a {letter-spacing: -0.02em;}
footer .top .menu a::after { 
    content: '';
    display: inline-block;
    width: 1px; height: 10xp; background-color: #000;
    margin: 0 10px; position: relative; top:-1px;
}
footer .top .menu a:last-child::after {display: none; margin: 0;}
footer .top .sns {display: flex }
footer .top .sns a {
    width: 25px; height: 25px; margin-right: 10px;
    background-image: url(../images/sns_sprite.png);
}
footer .top .sns a:hover {background-position: -y:-25px;}
footer .top .sns a:nth-child(1) {}
footer .top .sns a:nth-child(2) {background-position-x: -50px}
footer .top .sns a:nth-child(3) {background-position-x: -100px}
footer .top .sns a:nth-child(4) {background-position-x: -150px}
footer .top .sns a:nth-child(5) {background-position-x: -200px}
footer .top .sns a:nth-child(6) {background-position-x: -250px}
footer .top .sns a:nth-child(7) {background-position-x: -300px}


footer .top .sns:last-child a {margin: 0;}

footer .top .sns a span {display:none ;}
footer .bottom {

    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px;
}
footer .bottom address {line-height: 1.8;}
footer .bottom address a {}
footer .bottom .mark {}
footer .bottom .mark a {}
footer .bottom .mark a img {}

