main {
    width:1136px; margin:0 auto;
}
/* 상품 경로 */
main .path {margin-bottom:26px;}
main .path a {font-size:0.88rem;}
main .path span {}
main .product_container {
    display:flex;justify-content: space-between;
}
/* 상품 미리보기 이미지 */
main .product_container .photo {
    width:630px; display:flex;justify-content: space-between;
}
main .product_container .photo .thumnail {}
main .product_container .photo .thumnail a {
    margin:0 0 10px; width:56px; display:block; border-radius:5px; overflow:hidden;
}
main .product_container .photo .thumnail a img {width:100%;}
main .product_container .photo .big {width:559px; border-radius:5px; overflow:hidden;}
main .product_container .photo .big img {width:100%;}
/* ====================※ ※ ※ 상품 미리보기 이미지(JS 클래스 전용 ※ ※ ※ */
/* Thumnail a에 마우스에 올렸을때 적용되는 테두리 디자인 */
main .product_container .photo .thumnail a.active {border:3px solid #59Afff;} 
/* a.active a.active 띄어쓰면 자식이된다 */
/* 상품 이름, 가격, 배송, 주문 정보 */
main .product_container .contents {
    width:calc(100% - 654px);
}
main .product_container .contents > * {margin-bottom:25px;}
main .product_container .contents .brand {font-size:0.88rem;}
main .product_container .contents h1 {font-size:1.38rem; font-weight:800;}
main .product_container .contents .review {font-size:0.81rem; }
/* 할인 전, 후 가격 */
main .product_container .contents .price_before {}
main .product_container .contents .price_before .sale {}
main .product_container .contents .price_before .price {text-decoration: line-through;}
main .product_container .contents .price_result {font-size:2rem;}
main .product_container .contents .price_result em {font-weight:800;}
/* 혜택&배송 */
main .product_container .contents dl {display:flex; flex-flow:row wrap;}
main .product_container .contents dl dt {width:80px; padding:15px 0;}
main .product_container .contents dl dd {
    width:calc(100% - 80px); padding:15px 0;
    display:flex; flex-flow:column nowrap;
}
main .product_container .contents dl dd > * {margin-bottom:10px;}
main .product_container .contents dl dd >em {}
main .product_container .contents dl dd >span {}
main .product_container .contents dl dd .ship_schedule {
    padding:15px 10px; background-color: #eee; border-radius: 7px; margin:0;
}
main .product_container .contents dl dd .ship_schedule em {}
/* ship_schedule클릭시 열리는 영역 */
main .product_container .contents dl dd .schedule_open {
    padding:15px 10px; background-color: #eee; border-radius: 7px;
    border-top:1px solid #c5c5c5; 
}
main .product_container .contents dl dd .schedule_open > * {display:block;}
main .product_container .contents dl dd .schedule_open em {border-bottom:1px dotted #aaa;}
main .product_container .contents dl dd .schedule_open em span {font-weight:700;}
main .product_container .contents dl dd .schedule_open em span:last-child {float:right;}
main .product_container .contents dl dd .schedule_open span {line-height:1.5;}
/* 주문 관련 내용 모음 */
main .product_container .contents .order_contents {}
main .product_container .contents .order_contents .select_contents {}
main .product_container .contents .order_contents .select_contents select {
    display:block; width:100%; padding:10px 17px; font-size:0.88rem;
    border:1px solid #59AFFF; margin: 0 0 25px; height:44px; border-radius: 5px;
}
main .product_container .contents .order_contents .select_contents select option {}
main .product_container .contents .order_contents .select_contents select#color {}
main .product_container .contents .order_contents .select_contents select#color option {}
main .product_container .contents .order_contents .select_contents select#size {
    border-color:rgba(0,0,0,0.2);
}
main .product_container .contents .order_contents .select_contents select#size option {}
/* 최종 주문 금액 */
main .product_container .contents .order_contents .order_price {
    display:flex; justify-content: space-between; margin:25px 0;
}
main .product_container .contents .order_contents .order_price h2 {}
main .product_container .contents .order_contents .order_price p {}
main .product_container .contents .order_contents .order_price p .price {
    font-size:1.25rem; font-weight:800;
}
/* 주문버튼 */
main .product_container .contents .order_contents .order_btn {display:flex; justify-content: space-between;}
main .product_container .contents .order_contents .order_btn button {width:calc(100% - 10px); padding:20px; border-radius: 5px;}
main .product_container .contents .order_contents .order_btn #cart_btn {background-color:#fff; border:1px solid #59AFFF; color:#59AFFF;}
main .product_container .contents .order_contents .order_btn #buy_btn {background-color:#59AFFF; border:1px solid #fff; color:#fff;}