/* ==============================================전체 공통 디자인 */
#wrap {}
#wrap .container {}
/* ==============================================1행 제목+후원 */
#wrap .bg1 {
    background-image: url(../images/bg1.png);
    background-position: center; /* =풀로 이미지를 채웠을때 화면 크기에 따라 조정= */
    background-size: cover; /* =풀로 이미지를 채웠을때 위아래까지 맞춰서 채워져라= */
}
#wrap .bg1 .gradient {
    background: linear-gradient(45deg, transparent,rgba(0,0,0,0.6)69%);
}  /* background: linear-gradient(각도 deg, 색상, 색상 색상위치 %, 색상) 그라데이션(피그마 값참고)= */
#wrap .bg1 .gradient .contents {
    height: 100vh; width: 1250px; margin: 0 auto;
    background-color: rgba(00, 00,00, 0.5);
    display: flex; flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}
#wrap .bg1 .gradient .contents h1 {}
#wrap .bg1 .gradient .contents h1:nth-child(1) {width: 89px; align-self:flex-start}
#wrap .bg1 .gradient .contents h1:nth-child(1) a {}
#wrap .bg1 .gradient .contents h1:nth-child(1) a img {width: 100%;}
#wrap .bg1 .gradient .contents h1:nth-child(2) span {}
#wrap .bg1 .gradient .contents .sponsor_btn {}
#wrap .bg1 .gradient .contents .sponsor_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:flex-end}
#wrap .bg1 .gradient .contents .sponsor_q_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:first-child {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:last-child {}

/* ==============================================2행 퀴즈+참여 */
/* ==============================================3행 동영상 */
/* ==============================================4행 빙하 50% 감소 */
/* ==============================================5행 빙하 인류재앙3 */
/* ==============================================5행 지구전체위기 */
/* ==============================================7행 WWF 소개 */
/* ==============================================8행 다양한활동 */
/* ==============================================8행 감사선물*/
/* ==============================================10행 안내사항 */
