/* 미디어쿼리 조건 작성위치  */
@media screen and (max-width: 1250px) {
    /* =========================공통선택자+1행반응형 디자인(tablet) */
    #wrap .container > * {padding: 0 80px;}
    #wrap .container .main_title {font-size: 3.13rem;}
    #wrap .container h2 {font-size:2.50rem}
    #wrap .container .sponsor_btn {
        font-size: 1.38rem;
        width: 270px; padding: 15px 0;
        text-align: center;
        display: flex; align-items: center; justify-content: center;
    }
    #wrap .container .sponsor_q_btn  {
        font-size: 1.25rem;
    }
    #wrap .container .sponsor_q_btn img:first-child {display: none;}
     /* =========================2행반응형 디자인(tablet) */
    #wrap .bg2 .contents .quiz_contents h2 {font-size: 2.50rem;}
    #wrap .bg2 .contents .quiz_status {text-align:center ;}
    #wrap .bg2 .contents .quiz_status img {width: 316px;}

     /* =========================3행반응형 디자인(tablet) */
    #wrap .container .contents h2 {}
     /* =========================4행반응형 디자인(tablet) */
     /* =========================6행반응형 디자인(tablet) */
    #wrap .bg4 .contents h2,
    #wrap .bg6 .contents h2 {font-size: 2.50rem}
    #wrap .bg4 .contents h2+p,
    #wrap .bg6 .contents h2+p {font-size: 1.38rem; margin: 40px 0;}

     /* =========================5행반응형 디자인(tablet) */
    #wrap .bg5 .contents ul li .content {
        height: auto; font-size: 1rem;   
    }
    #wrap .bg5 .contents h2 {font-size:2.50rem; font-weight:500; line-height:1.2; letter-spacing:-0.01em;}
     /* =========================7행반응형 디자인(tablet) */
    #wrap .bg7 .contents p {font-size:1.38rem;}
     /* =========================8행반응형 디자인(tablet) */
    
    #wrap .bg8 .contents .activity {flex-flow: column nowrap; }
    #wrap .bg8 .contents .activity li {width: 100%;}
    #wrap .bg8 .contents .activity li .text {width: 100%; position: relative; bottom: 0;}
    #wrap .bg8 .contents .activity li .list2{margin: 20px 0;}
    #wrap .bg8 .contents .activity li .list1,
    #wrap .bg8 .contents .activity li .list2 {height: auto; padding-top: 189px;}
    #wrap .bg8 .contents .activity li:last-child {padding-top: 189px;}
    #wrap .bg8 .contents .activity li .text h3 {font-size:1.38rem;}
    #wrap .bg8 .contents .activity li .text p {font-size: 1rem;}
     /* =========================9행반응형 디자인(tablet) */
    #wrap .bg9 .contents .present_list {flex-flow: row wrap; }
    #wrap .bg9 .contents .present_list li {width:calc((100% - 43px) / 2);}
    #wrap .bg9 .contents .present_list li:nth-child(3) {width: 100%; margin-top: 45px;}
     /* =========================10행반응형 디자인(tablet) */
    #wrap .bg10 .contents h3 {font-size:1.38rem; }
    #wrap .bg10 .contents ul li {font-size: 1rem;}
    
} /* 1250 end. (>*그라데이션까지 유지)  */

@media screen and (max-width:900px) {
    #wrap .bg2 .contents {flex-flow: column nowrap;align-items: center;}
    #wrap .bg4,
    #wrap .bg6 {padding: 70px 0;}
} /* ===========2행 반응형 디자인 769~900 end  */

  /* =========================공통 1행 반응형 디자인(mobile) */
@media screen and (max-width:768px) {
    #wrap .container > * {padding: 0 15px;}
    #wrap .container h2 {font-size:1.25rem;}
    #wrap .bg1 .gradient .contents h1:nth-child(1) {width: 40px;}
    #wrap .container .main_title {font-size: 1.88rem;}
    #wrap .bg1 .gradient .contents > * {margin-bottom: 50px;}
    #wrap .container .sponsor_btn {padding: 5px 10px;}
    #wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:center;}
    /* =========================2행 반응형 디자인(mobile) */
    #wrap .bg2 .contents {}
    #wrap .bg2 .contents .quiz_contents h2 {font-size:1.88rem; }
    #wrap .bg2 .contents .quiz_contents p {font-size: 1rem;}
    #wrap .bg2 .contents .quiz_status {margin-top: 50px;}
    #wrap .bg2 .contents .quiz_contents form .answer_btn {width: 362px; text-align: center;}
    #wrap .bg2 .contents .quiz_contents form label input[name^=quiz]+span {font-size: 1rem;}
    #wrap .bg2 .contents .quiz_status span {font-size: 1rem; text-align: center;}
    /* =========================3행 반응형 디자인(mobile) */
    #wrap .bg3 {padding: 50px 0;}
    #wrap .bg3 .contents iframe {height: 300px;}
    /* =========================4행 반응형 디자인(mobile) */
    /* =========================6행 반응형 디자인(mobile) */
    #wrap .bg4 .contents h2,
    #wrap .bg6 .contents h2 {font-size: 1.38rem; font-weight: 500;}
    #wrap .bg4 .contents h2+p,
    #wrap .bg6 .contents h2+p {font-size: 0.81rem; margin: 20px 0; font-weight: 400;}
    /* =========================5행 반응형 디자인(mobile) */
    #wrap .bg5 .contents ul {
    flex-flow: column nowrap; align-items: center;
    }
    #wrap .bg5 .contents ul li {width: 100%; margin: 0 0 20px;}
    #wrap .bg5 .contents h2 {font-size:1.25rem; line-height:1.7; }
    #wrap .bg5 .contents ul li .title {height: auto; padding: 40px 0;}
    #wrap .bg5 .contents ul li .title h3 {padding-top: 0;}
    #wrap .bg5 .contents > p {font-size: 1rem;}
    /* =========================7행 반응형 디자인(mobile) */
    #wrap .bg7 {padding: 50px 0;}
    #wrap .bg7 .contents h1 {font-size:1.88rem}
    #wrap .bg7 .contents p {font-size:1rem;}
    #wrap .bg7 .contents p:first-of-type {margin: 40px 0;}
    /* =========================8행 반응형 디자인(mobile) */
    #wrap .bg8 .contents .activity {margin-top: 40px;}
    /* =========================9행 반응형 디자인(mobile) */
    #wrap .bg9 {padding: 50px 0;}
    #wrap .bg9 .contents .tltle {flex-flow: column nowrap; align-items: center;
        margin: 50px 0 40px;}
    #wrap .bg9 .contents .tltle .sponsor_btn {margin-top: 20px;}
    #wrap .bg9 .contents .present_list {flex-flow: column wrap;}
    #wrap .bg9 .contents .present_list li {width: 100%; }
    #wrap .bg9 .contents .present_list li:nth-child(2) {margin-top: 20px;}
    #wrap .bg9 .contents .benefit {float: none; margin: 69px auto 0; display: block;
        width:max-content; 
    }

       /* =========================10행 반응형 디자인(mobile) */
    #wrap .bg10 {padding: 50px 0;}
/* 320~768 end */
}

